* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.heading {
  font-size: 1.5em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 550;
}
.container {
  width: 100%;
}
.insideCol {
  margin: 12px;
  border: 1.9px solid green;
  background: bisque;
  position: relative;
}
.items {
  width: fit-content;
  float: right;
  border: 1.5px solid green;
  font-size: 1.25em;
  font-family: Arial, Helvetica, serif;
  font-weight: 250;
}
#title1 {
  background-color: rgba(105, 90, 205, 0.767);
  background-color: indianred;
}
#title2 {
  background-color: rgba(244, 165, 96, 0.87);
}
#title3 {
  background-color: darkcyan;
}
.text {
  clear: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: rgb(165, 42, 42);
}
.boxes {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-6,
  .col-md-12 {
    float: left;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
